<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <h3>Free Markets</h3>
      <mat-list-item>
        
        <a matLine routerLink="over" skipLocationChange="true">Over/Under Goals</a>
      </mat-list-item>

      <mat-list-item>
        
        <a matLine routerLink="#">Home wins</a>
      </mat-list-item>

      <mat-list-item>
        
        <a matLine routerLink="#">Away wins</a>
      </mat-list-item>

      <mat-list-item>
        
        <a matLine routerLink="#">Special Events</a>
      </mat-list-item>

      <hr>

      <h3>Tipsters</h3>
      <mat-list-item>
        
        <a matLine routerLink="/tipsters">Premium Tipsters</a>
      </mat-list-item>

      <h3>Premium Tips</h3>
      <mat-list-item>
        
        <a matLine routerLink="/premium/five">5+ Odds</a>
      </mat-list-item>

      <mat-list-item>
        <a matLine routerLink="/premium/ten">10+ Odds Roll-Over</a>
      </mat-list-item>

      <mat-list-item>
        
        <a matLine routerLink="/premium/twenty">20+ Odds Weekend</a>
      </mat-list-item>

      <mat-list-item>
       
        <a matLine routerLink="/premium/vvip">VVIP Premium selections</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Your main content goes here -->
  </mat-sidenav-content>
</mat-sidenav-container>
